@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.7rem 1rem;
  display: inline-block;
  border-radius: 0.5rem;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.15rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-submit {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin: 1rem 0;
  padding: 0.8rem;
  background-color: #7ed56f;
  border: none;
  border-radius: 2px;
}

.nav-btn {
  background-color: #7ed56f;
}

.link-back {
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem;
}

.card {
  background-color: #7ed56f;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 2.4rem;
  width: 45%;
}

.card a:link,
.card a:visited {
  text-decoration: none;
}

.card__container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: translateY(-0.15rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.card__content {
  font-size: 1.6rem;
  line-height: 3rem;
  color: black;
}

.card__content-title {
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.add-finch {
  margin: 3rem auto;
  padding: 3rem;
  width: 40%;
}

.add-finch__heading {
  font-size: 2.4rem;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 2rem;
}

.add-finch__card {
  width: 90%;
}

.add-finch__action {
  font-size: 1.6rem;
}

.add-finch__form {
  text-align: left;
  font-size: 2rem;
}

.add-finch__btn {
  margin-left: 38rem;
}

.feeding {
  margin-left: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  width: 50%;
}

.feeding__form {
  font-size: 1.6rem;
}

.feeding__table {
  font-size: 2rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^='col-'] {
  float: left;
}

.row [class^='col-']:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.main {
  margin-top: 7rem;
  margin-bottom: 3.2rem;
  min-height: 90vh;
  background-image: radial-gradient(#ffffff, #e1eddf);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7rem;
  background-color: #55c57a;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.header > * {
  position: absolute;
  top: 1.5rem;
  font-size: 1.6rem;
}

.header__logo-box {
  left: 2rem;
  top: 0.8rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #7ed56f;
  animation: moveInLeft 1s ease-out;
}

.header__logo-box img {
  width: 4rem;
}

.header__nav-links {
  animation: moveInRight 1s ease-out;
  animation-fill-mode: backwards;
  right: 2rem;
}

footer.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  text-align: right;
  box-shadow: 0 -0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: #55c57a;
}

.landing {
  position: relative;
  background-blend-mode: screen;
  background-image: radial-gradient(rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.5)), url(../img/finch.avif);
  background-size: cover;
}

.landing div {
  margin: auto;
  text-align: center;
}

.landing div h1 {
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
}

.landing div h2 {
  margin-top: 1rem;
  letter-spacing: 0.2rem;
}

.landing-logo {
  position: absolute;
  left: 3rem;
  top: 3rem;
  animation: moveInLeft 1s ease-out;
}

.landing-logo img {
  width: 4rem;
}

.landing-btn {
  font-size: 1.8rem;
  background-color: rgba(40, 180, 133, 0.5);
  animation: moveInBottom 1s ease-out;
}

.landing-btn:hover {
  margin: auto;
  font-size: 1.8rem;
}
