{% extends 'base.html' %} {% block content %}
<a class="link-back" href="/finches">Back</a>
<div class="row">
  <div class="col-1-of-2">
    <div class="card__container">
      <div class="card add-finch__card">
        <div class="card__content">
          <span class="card__content-title">{{ finch.name }}</span>
          <p>Breed: {{ finch.habitat }}</p>
          <p>Description: {{ finch.description|linebreaks }}</p>
          <p>Diet: {{finch.diet}}</p>
        </div>
        <div class="add-finch__action">
          <a class="btn" href="{% url 'finches_update' finch.id %}">Edit</a>
          <a class="btn" href="{% url 'finches_delete' finch.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1-of-2">
    <div class="feeding">
      <form action="{% url 'add_feeding' finch.id %}" method="POST" class="feeding__form">
        {% csrf_token %}
        <!-- Render the inputs -->
        {{ feeding_form.as_p }}
        <input type="submit" class="btn btn-submit" value="Add Feeding" />
      </form>
      <table class="feeding__table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Meal</th>
          </tr>
        </thead>
        <tbody>
          {% for feeding in finch.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
